.todos-wrap {
  width: 87.2%;
  margin: 0 auto;
  overflow: hidden;
  max-width: 54rem;
  border-radius: .5rem;
  box-shadow: var(--component-shadow);
  background-color: var(--bg-component);
  transition: var(--transition) background-color, var(--transition) box-shadow;
  
  .todos {
    .todo {
      padding: 1.5rem 2rem;
      background-color: var(--bg-component);
      border-bottom: 1px solid var(--color-todo-border);
      transition: var(--transition) background-color, var(--transition) border-color;
      @media (min-width: 768px) {
        padding: 1.95rem 2.4rem 2rem;
        
      }
  
      &:focus {
        outline: var(--outline);
        border-color: transparent;
      }

      .todo-item {
        display: flex;
        align-items: center;
      }
    }
  }

  .todos-filter {
    display: flex;
    padding: 1.5rem 2rem 2.2rem;
    justify-content: space-between;
    @media (min-width: 768px) {
      padding: 1.6rem 2.4rem 1.9rem;
      justify-content: flex-start;
    }

    .radios {
      display: none;
      @media (min-width: 768px) {
        display: flex;
        margin-right: auto;
        margin-left: 9.6rem;
      }
    }
  }
}