:root {
  // Colors on light theme
  // Higher number means higher lightness
  --color-white: #fff;
  --color-gray-35: #494C6B;
  --color-gray-61: #9495A5;
  --color-gray-84: #D1D2DA;
  --color-gray-92: #E3E4F1;
  --color-gray-98: #FAFAFA;
  // Colors on dark theme
  --color-blue-85: #C8CBE7;
  --color-charcoal-11: #171823;
  --color-charcoal-19: #25273D;
  --color-charcoal-26: #393A4B;
  --color-charcoal-35: #4D5067;
  --color-charcoal-43: #5B5E7E;

  --color-blue-61: #3A7CFD;

  // Font Weights
  --weight-regular: 400;
  --weight-bold: 700;

  // Design Elements
  --outline: 2px dotted var(--color-blue-61);
  --transition: 300ms ease-in-out;
}

.light {
  --bg-img-mobile: url(../Assets/bg-mobile-light.jpg);
  --bg-img-desktop: url(../Assets/bg-desktop-light.jpg);
  // dark: 1, mid: 2, light: 3
  --color-text-1: var(--color-gray-35);
  --color-text-2: var(--color-gray-61);
  --color-text-3: var(--color-gray-84);
  --bg-app: var(--color-gray-98);
  --bg-component: var(--color-white);
  --color-circle: var(--color-gray-92);
  --component-shadow: 0 35px 50px -15px rgba(194,195,214,0.50);
  --color-todo-border: var(--color-gray-92);
  --bg-img-cross: url(../Assets/icon-cross.svg)
}

.dark {
  --bg-img-mobile: url(../Assets/bg-mobile-dark.jpg);
  --bg-img-desktop: url(../Assets/bg-desktop-dark.jpg);
  // white: 1, mid: 2, dark: 3
  --color-text-1: var(--color-blue-85);
  --color-text-2: var(--color-charcoal-43);
  --color-text-3: var(--color-charcoal-35);
  --bg-app: var(--color-charcoal-11);
  --bg-component: var(--color-charcoal-19);
  --color-circle: var(--color-charcoal-26);
  --component-shadow: 0 35px 50px -15px rgba(0,0,0,0.50);
  --color-todo-border: var(--color-charcoal-26);
  --bg-img-cross: url(../Assets/icon-cross-dark.svg)
}

// reset
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
  font-family: 'Josefin Sans', sans-serif;
  &:focus {
    outline: var(--outline);
  }
}

input {
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  &:disabled {
    cursor: wait;
  }
}

a {
  text-decoration: none;
}

.sr-only {
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
}

.App {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 7.1rem;
  background-color: var(--bg-app);
  transition: var(--transition) background-color;
  @media (min-width: 768px) {
    padding-bottom: 5.1rem;
  }
}