:root {
  --color-white: #fff;
}

// reset
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-family: 'Josefin Sans', sans-serif;
}