.t-branding {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 1.5rem;
  color: var(--color-white);
  font-weight: var(--weight-bold);
  &:focus {
    outline: var(--outline);
  }
}

.t-todo {
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: -.17px;
  color: var(--color-text-1);
  font-weight: var(--weight-regular);
  @media (min-width: 768px) {
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: -.25px;
  }
}

.todo.completed .t-todo {
  color: var(--color-text-3);
  text-decoration: line-through;
}

.t-radio-label {
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: var(--color-text-2);
  font-weight: var(--weight-bold);
  transition: var(--transition) color;
  &:hover {
    color: var(--color-text-1);
  }
  &.checked {
    color: var(--color-blue-61);
  }
}

.t-status {
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: -.17px;
  color: var(--color-text-2);
  font-weight: var(--weight-regular);
  @media (min-width: 768px) {
    font-size: 1.4rem;
    line-height: 1.5rem;
    letter-spacing: -.19px;
  }
}

.t-empty {
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
  letter-spacing: -.17px;
  color: var(--color-text-1);
  font-weight: var(--weight-regular);
  @media (min-width: 768px) {
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: -.25px;
  }
}

.t-notification {
  font-size: 1.4rem;
  line-height: 1.5rem;
  letter-spacing: -.19px;
  color: var(--color-text-2);
  font-weight: var(--weight-regular);
}